.custom-hero-btn {
    background-color: #d64242 !important;
    border-color: #d64242 !important;
}

.custom-hero-btn:hover {
    background-color: #d64242 !important;
    border-color: #d64242 !important;
}

.card-item {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.card-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}